@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RubikRegular;
  src: url(./assets/fonts/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: RubikMedium;
  src: url(./assets/fonts/static/Rubik-Medium.ttf);
}

@font-face {
  font-family: RubikItalic;
  src: url(./assets/fonts/static/Rubik-Italic.ttf);
}

body {
  width: 100%;
}

/* Custom Styles */

.display {
  font-family: RubikMedium;
  font-size: 144px;
  line-height: 100%;
}

.heading-l-bold {
  font-family: RubikMedium;
  font-size: 64px;
  line-height: 100%;
}

.heading-l-regular {
  font-family: RubikRegular;
  font-size: 64px;
  line-height: 100%;
}

.heading-m {
  font-family: RubikMedium;
  font-size: 36px;
  line-height: 100%;
}

.heading-s {
  font-family: RubikMedium;
  font-size: 28px;
  line-height: 100%;
}

.body-m {
  font-family: RubikRegular;
  font-size: 12px;
  line-height: 150%;
}

.body-s {
  font-family: RubikItalic;
  font-size: 12px;
  line-height: 150%;
}

.items-shadow {
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}
